@import '../../global.less';

.contentWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  .contentTop {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: calc(100% - 11rem);
    margin-bottom: 0.5rem;
    & > div:first-child {
      flex-grow: 1;
      overflow-y: auto;
      .initScrollStyle(5);
      // 滚动条整体部分
      // &::-webkit-scrollbar {
      //   width: unit(5 / @baseFontSize, rem);
      // }
      // /* 外层轨道 */
      // &::-webkit-scrollbar-track {
      //   background: #f1f1f1;
      //   border-radius: 0;
      // }
      // /* 滚动条滑块 */
      // &::-webkit-scrollbar-thumb {
      //   background: #a8a8a8;
      //   border-radius: unit(10 / @baseFontSize, rem);
      // }
    }
    .diaryBrief {
      width: unit(400 / @baseFontSize, rem);
      min-width: unit(400 / @baseFontSize, rem);
      margin-left: 0.5rem;
      padding: 0.2rem;
      border-left: 1px solid @border_color;
    }
    .rightTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.2rem;
      border-bottom: 1px solid @border_color;
      & > div {
        & > span {
          margin: 0 0.2rem;
          cursor: pointer;
        }
      }
    }
    .detailTitle {
      font-weight: bold;
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
  }
  .contentBtm {
    height: unit(160 / @baseFontSize, rem);
    min-height: unit(160 / @baseFontSize, rem);
    padding: 0.5rem;
    border-top: 1px solid @border_color;
    .imageCls {
      width: unit(140 / @baseFontSize, rem);
      height: unit(140 / @baseFontSize, rem);
      margin: 0 0.5rem;
      background-color: #e3e3e3;
      border-radius: 0.5rem;
    }
    :global {
      .ant-image {
        border: 1px dotted @border_color;
        border-radius: 0.5rem;
      }
    }
  }
}

.diaryWrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.2rem;
  & > div:first-child {
    flex-grow: 1;
  }
  & > div:last-child {
    width: unit(460 / @baseFontSize, rem);
    min-width: unit(460 / @baseFontSize, rem);
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-left: 1px solid @border_color;
  }
  .rightTop {
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid @border_color;
  }

  :global {
    .ant-upload.ant-upload-select-picture-card,
    .ant-upload-list-picture-card-container {
      width: 8.5rem !important;
      height: 8.5rem !important;
      margin: 0.4rem !important;
    }
  }
}

.modelCls {
  width: 50rem !important;
  :global {
    .ant-modal-body {
      max-height: 40rem !important;
      overflow-y: auto;
    }
  }
}
